@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Inter');

* {
  --main-background-color: #E5E5E5;
  --big-border-color: #0B2434;
  --square-color: #FFFFFF;
  --selected-square-color: #59E391;
  --main-text-color: #2B283A;
  --description-color: #4A4E74;
  --button-color: #5035FF;
}


.window-game {
  
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  
  max-width: 50%;
  
  padding: 5%;

  background-color: var(--main-background-color);

  border: solid var(--big-border-color);
  border-left-width: 2vw;
  border-right-width: 2vw;
  border-top-width: 3vw;
  border-bottom-width: 3vw;
  
}


.game-title {
  color: var(--main-text-color);
  font-size: 60px;
  font-family: 'Karla';
  font-weight: bold;
}

.game-description {
  color: var(--description-color);
  font-size: 30px;
  margin-top: -2vh;
  text-align: center;
  font-family: 'Inter';
}

.game-dices {
  display: grid;
  grid-template: repeat(2, 50px) / repeat(5, 50px);
  gap: 50px;
}

.dice {
  background-color: var(--square-color);
  color: var(--main-text-color);
  font-family: 'Karla';

  font-size: 30px;
  font-weight: bold;

  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  box-shadow: 1px 2px gray;
}

.dice.froze {
  background-color: var(--selected-square-color);
}


.game-roll-button {
  margin-top: 10%;
  background-color: var(--button-color);
  color: white;
  height: 100px;
  width: 200px;
  font-size: 30px;
  border-radius: 10px;

}